/*Import Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Passion+One&display=swap');


/*Style for body/html*/
html, body {
    overflow-x: hidden; /*Do not show if contents are overflow horizontally*/
    scroll-margin: 0;
}

html {
  scroll-padding-top: calc(4.5rem - 1px);
}

/*Background*/
body {
  background: url('../assests/bg_pattern.png');
  letter-spacing: 0.01em;
  font-family: "Plus Jakarta Sans", "Outfit";
  color: #5c5c5c;
  margin: 0;
  padding: 0;
}

/*Class presets*/
.primary-med {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
}

.primary-reg {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
}

.primary-bold {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
}

.secondary-med {
    font-family: "Outfit";
}

.secondary-reg {
    font-family: "PT Sans";
}

/*Modify Bootstrap's border-2 class*/
.border-2 {
  border-color: 2px solid #E14A77;
}

/*Border preset*/
.border-pink {
  /*border: 2px solid rgb(248, 117, 150, 0.6);*/
  border: 2px solid rgb(248, 117, 150,0.8);
}

/*Transparent button*/
.btn-transparent {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.btn-transparent:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

/*Modify Bootstrap's button class*/
.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-size: 80%;
  text-transform: uppercase;
  border: 0;
}

.btn-custom {
  color: rgb(248, 117, 150);
  background-color: #FFF;
  border: 2px solid rgb(248, 117, 150);
  transition: all 0.1s ease-in-out;
}

.btn-custom:hover {
  background-color: #48999F;
  border: 2px solid rgb(255, 255, 255);
  color:#fff
}

.btn-primary {
  background-color: rgba(248, 117, 150);
  border-color: rgba(248, 117, 150);
  transition: all 0.1s ease-in-out;
}


/*Horizontal ruler*/
hr.style1{
	border-top: 1px solid #8c8b8b;
}

/*Text colors*/
.text-azure {
  color: #48999F;
}

.text-pink {
  color: #E14A77;
}

.text-gray-50 {
  color: #00000071;
}

.divider-bottom {
  justify-content: center;
  background-color: rgb(248, 117, 150);
  width:5%;
  height: 2px;
}

/*Section wrapper*/
.section-wrapper {
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*mainNav*/
/*mainNav in homepage comes with prefix .nav-transparent*/
/*mainNavs in other pages come with prefix .nav-default*/
/*mainNav in collapse mode comes with .navbar-shrink*/

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav.nav-transparent .navbar-brand {
  font-weight: 700;
  padding: 0.9rem 0;
}

#mainNav.nav-default .navbar-brand {
  font-weight: 700;
  padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav.nav-transparent {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  #mainNav.nav-default {
    color:#444;
    padding-top: 0;
    padding-bottom: 0;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav.nav-default .navbar-brand {
    padding: 0rem 0.5rem;
    font-size: 150%;
    color: rgb(248, 117, 150);
  }

  #mainNav.nav-transparent .navbar-brand {
    padding: 0rem 0.5rem;
    font-size: 150%;
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav.nav-transparent .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav.nav-transparent .material-icons {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem
  }

  #mainNav.nav-transparent .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand, #mainNav.nav-default .navbar-brand {
    font-size: 130%;
    color: rgb(248, 117, 150);
  }
  #mainNav.navbar-shrink .nav-link, #mainNav.nav-default .nav-link {
    color: #444;
    padding: 1.5rem 1.5rem 1.25rem;
  }

  #mainNav.navbar-shrink .material-icons, #mainNav.nav-default .material-icons {
    color: #444;
    padding: 0.5rem
  }

  #mainNav.navbar-shrink .nav-link:hover, #mainNav.nav-default .nav-link:hover {
    color: #ffffff;
    background-color: #48999F;
  }

  #mainNav.navbar-shrink .nav-link:active, #mainNav.nav-default .nav-link:active {
    color: #ffffff;
    background-color: #48999F;
  }

}

/*Styles for header banner*/
.header-banner {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 30rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.6) 5%, rgba(51, 51, 51, 0.6) 70%), url("https://i.imgur.com/RjxVrAZ.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/*Styles for header title - HIBIKE*/
.header-banner h1, .header-banner .h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
}

/*Styles for header subtitle - The way you sound it*/
.header-banner h2, .header-banner .h2 {
  color: #fff;
  max-width: 20rem;
  font-size: 1rem;
}

.header-banner .text-center {
  padding-top: 15rem;
}

@media (min-width: 768px) {
  .header-banner h1, .header-banner .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .header-banner {
    height: 100vh;
    padding: 0;
  }
  .header-banner h1, .header-banner .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .header-banner h2, .header-banner .h2 {
    max-width: 30rem;
    font-size: 1.2rem;
  }
}

/*Service card*/
.service-card {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  height: 20rem;
  color:#5c5c5c;
  padding:2rem;
  display: flex;
}

.service-card:hover {
  transform: translateY(-15px);
}

.service-card .service-icon {
  font-size: 7rem;
  color:rgb(248, 117, 150);
}

@media only screen and (max-width: 990px) {
  .service-card {
    padding:1rem;
    display: flex;
    flex-direction: row;
    text-align: start;
    height: 12rem;
  }

  .service-card .service-icon {
    align-self: center;
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .service-card .service-icon {
    font-size: 4rem;
    padding: 0.5rem;
  }

  .service-card {
    padding:0.3rem;
    height: 9rem;
  }
}

/*Intro card*/
.intro-card {
  padding: 2rem;
  height: 10rem;
}

@media only screen and (max-width: 990px) {

  .intro-card {
    padding:1.8rem;
    height: 15rem;
  }

}

@media only screen and (max-width: 540px) {

  .intro-card {
    padding: 1rem;
    height: 20rem;
  }

}

/*Instrument slide*/
.instrument-slide {
  width: 100%;
  height: 40rem;
  font-size: 150rem;
  color: #fff;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.instrument-slide .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  justify-content: center;
}

.instrument-slide#guitars {
  background-image: url('https://i.imgur.com/dFG0fE9.jpg');
}

.instrument-slide#basses {
  background-image: url('https://i.imgur.com/CbxuF8H.jpg');
}

.instrument-slide#drums {
  background-image: url('https://i.imgur.com/G2veoNa.jpg');
}

.instrument-slide#keyboards {
  background-image: url('https://i.imgur.com/rGYI2QK.jpg');
}

.instrument-slide#winds {
  background-image: url('https://i.imgur.com/snYtVfA.jpg');
}

.instrument-slide#amps {
  background-image: url('https://i.imgur.com/VNYNSG6.jpg');
}

.instrument-slide h1 {
  font-size: 5rem;
}

.instrument-slide h4 {
  font-size: 1.5rem;
  width: 40%;
}

@media only screen and (max-width: 992px) {
  .instrument-slide {
    text-align: center;
    background-position-x: 30%;
  }

  .instrument-slide .container {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .instrument-slide h1 {
    font-size: 4.2rem;
    text-shadow: 0 0 10px #000;
  }
  
  .instrument-slide h4 {
    font-size: 1.3rem;
    text-shadow: 0 0 10px #000;
    width: 70%;
  }

}

@media only screen and (max-width: 540px) {

  .instrument-slide {
    background-position-y: 30%;
  }

  .instrument-slide h1 {
    font-size: 3.5rem;
  }
  
  .instrument-slide h4 {
    font-size: 1.1rem;
  }

  .carousel-control-prev-icon {
    visibility: hidden;
  }

  .carousel-control-next-icon {
    visibility: hidden;
  }
}

/*Discover instruments section*/
#anime-banner {
  height: 30rem;
  background-image: url('https://i.imgur.com/4AUw4wS.jpg');
  background-size:cover;
  background-position: center;
  display: flex;
  align-items:center;
  justify-content: right;
}

#anime-banner .container {
  padding-left: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 70%;
}

#anime-banner .text-right {
  font-size: 4.5rem;
  line-height: 3.5rem;
  font-weight: 600;
  color:rgb(53, 53, 53);
}

@media only screen and (max-width:992px) {
  #anime-banner {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%,rgba(255,255,255,1) 100%), url('https://i.imgur.com/4AUw4wS.jpg');
    background-size:cover;
    background-position-x: 10%;
  }

  #anime-banner .container {
    padding-left: 0;
    align-items: center;
    text-align: center;
  }  

  #anime-banner .text-right {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color:rgb(53, 53, 53);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
}

/*Sponsor logos section*/
.sponsor-logo img {
  width: 18rem;
}

@media only screen and (max-width:992px) {
  .sponsor-logo img {
    width: 15rem;
  }
}

@media only screen and (max-width:540px) {
  .sponsor-logo img {
    width: 12rem;
  }
}

@media only screen and (max-width:446px) {
  .sponsor-logo img {
    width: 10rem;
  }
}

/*Product card for products.php*/
.product-card {
  width: 16rem;
}

.product-card .product-name {
  height: 3.3rem;
}

.product-card .product-type {
  background-color: #777777;
  width: fit-content;
  padding: 0rem 1rem;
}

.product-card .product-price {
  color: #444444;
}

.product-card .view-details {
  width: 100%;
}

@media only screen and (max-width: 540px) {
  .product-card {
    width: 23rem;
    display: flex;
    flex-direction: row;
  }

  .product-card img {
    height: 10rem;
    align-self: center;
  }

  .product-card .product-name {
    flex-wrap: wrap;
  }
}

/*Product details for product_details.php*/
#productImage img {
  width: 28rem;
  height: 28rem;
}

#productDetails .brand-label {
  padding: 0;
  margin: 0;
  color:#444;
}

#productDetails .brand-name {
  width: fit-content;
  padding: 0rem 1rem;
  color: #fff;
  background-color: #48999F ;
  margin-top: 0.5rem;
}


#productDetails .type-label {
  padding: 0;
  margin: 0;
  color:#444;
}

#productDetails .type-name {
  width: fit-content;
  padding: 0rem 1rem;
  color: #fff;
  background-color: #48999F ;
  margin-top: 0.5rem;
}

#productDetails .product-price {
  color: #444444;
}

#productDetails .buy-now {
  width: 100%;
}

.footer {
  margin-top: 10rem; 
  padding: 5rem 0;
  background-color:#444444;
}


@media only screen and (max-width: 540px) {

  #service, #introduction {
    padding: 0rem 1rem;
  }

  #order-confirm {
    padding: 0 1rem;
  }

  #info-form {
    display: flex;
    flex-direction: column;
  }

  .section-label {
    padding:1.5rem;
  }

  #productImage img {
    width: 20rem;
    height: 20rem;
  }
}


#collection-page {
  background-image: url('../assests/image2.jpg');
  background-size: cover;
  height: 50rem;
}

#collection-body {
  background: black;
  color: white;
}

#storeLocations {
  height: 27rem;
}

#storeLocations::-webkit-scrollbar {
  display: none;
}

#map-container {
  height: 27rem;
  width: 100%;
}

#admin-body {
  background: white;
}